.feed-container {
  width: 60%;
  padding-left: 40px;
}

.feed {
    padding: 0;
}

.form {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #333333;
}

.input-form {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.button-add-post {
    background-color: white;
    border: grey;
    border-radius: 5px;
    width: 200px;
    margin-left: 20%;
    margin-top: 10px;
    font-size: 18px;
    padding: 0 5px 0 5px;
}